/ChapterOne/nbproject/private/
/CWUSTARTUPWEB/App/nbproject/private/
/CWUSTARTUPWEB/Test/nbproject/private/
/CWUSTARTUPWEB/Test/Test-war/nbproject/private/
/CWUSTARTUPWEB/Test/Test-ejb/nbproject/private/
/CWUSTARTUPWEB/Test/Test-war/build/
/CWUSTARTUPWEB/Test/Test-ejb/dist/
/CWUSTARTUPWEB/Test/Test-ejb/build/
/CWUSTARTUPWEB/EnterpriseApplication1/nbproject/private/
/CWUSTARTUPWEB/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/CWUSTARTUPWEB/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/CWUSTARTUPWEB/EnterpriseApplication1/EnterpriseApplication1-war/build/
/CWUSTARTUPWEB/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/CWUSTARTUPWEB/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/ChapterOne/build/
/ChapterOne/dist/
/ProjectOne/nbproject/private/
/ProjectOne/build/